<div class="w-full">
  <div class="flex items-center gap-2">
    <router-link to="/" class="flex gap-2 items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-slate-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </div>
      <p class="text-[1.2rem]   text-slate-500">{{$t('menuHome')}} /</p>
    </router-link>
    <p class="text-[1.2rem]   text-slate-900">{{$t('createAccount')}}</p>
  </div>
  <div class="mt-7">
    <span class="text-xl  border-b-2  text-slate-900">{{$t('persional')}}</span>
    <form class="mb-10">
      <div class="grid grid-cols-2 mb-5">
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="firstName" v-model="firstName" class="w-full bg-white" />
            <label for="firstName">{{$t('firstName')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
        <p v-if="errMessage && errCode == 1" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="lastName" v-model="lastName" class="w-full bg-white" />
            <label for="lastName">{{$t('lastName')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
        <p v-if="errMessage && errCode == 2" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
      </div>
      <div class="grid grid-cols-2 mb-5">
        <span class="pt-4 pr-3">
          <Select 
            v-model="gender" 
            :options="genderOption" 
            optionLabel="name" 
            :placeholder="$t('selectGender')" 
            class="w-full md:w-56" />
            <p v-if="errMessage && errCode == 5" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="phone" v-model="phone" class="w-full bg-white" />
            <label for="phone">{{$t('phone')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
        <p v-if="errMessage && errCode == 3" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
      </div>
      <div class="grid grid-cols-1 mb-5">
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="email" v-model="email" class="w-full bg-white" />
            <label for="email">{{$t('email')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
        <p v-if="errMessage && errCode == 4" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
      </div>
      <div class="grid grid-cols-2 mb-5">
        <span class="pt-4 pr-3">
          <Select 
            filter
            v-model="country" 
            :options="countries" 
            optionLabel="name" 
            :placeholder="$t('selectCountry')"  
            class="w-full md:w-56" />
            <p v-if="errMessage && errCode == 6" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
        <span class="pt-4 pr-3">
          <Select 
            filter
            v-model="cityProvince" 
            :options="province" 
            optionLabel="name" 
            :placeholder="$t('selectCityProvince')" 
            class="w-full md:w-56" />
            <p v-if="errMessage && errCode == 7" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
      </div>
      <div class="grid grid-cols-1 mb-5">
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="password" v-model="password" type="password" class="w-full bg-white" />
            <label for="password">Password<span class="text-red-600">*</span></label>
        </FloatLabel>
        <p v-if="errMessage && errCode == 8" class="text-red-500 text-xs">{{ errMessage }}</p>
        </span>
      </div>

      <!-- Button Submit -->
      <div class="flex float-end gap-1 font-SegoeUI font-semibold">
        <span class="pt-4 pr-3">
          <router-link to="/">
            <button
              class="w-full rounded-md py-2 px-3 text-center bg-gray-300 hover:bg-red-400 hover:text-white"
            >
              {{$t('cancel')}}
            </button>
          </router-link>
        </span>

        <span class="pt-4 pr-3">
          <button
            v-if="!isSubmited"
            type="button"
            @click="onCreate"
            class="w-full text-white bg-blue-700 hover:bg-yel-500 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-3 text-center"
          >
            {{$t('createAccount')}}
          </button>
          <button
            v-else
            disabled
            class="w-full text-white bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-3 text-center"
          >
            Loading...
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<Dialog v-model:visible="visible" modal header="Create Account Successfully" :style="{ width: '25rem' }"></Dialog>
