<div>
  <div class="flex items-center gap-2">
    <router-link to="/" class="flex gap-2 items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-slate-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </div>
      <p class="text-[1.2rem]   text-slate-500">{{$t('menuHome')}} /</p>
    </router-link>
    <p class="text-[1.2rem]   text-slate-900">{{$t('menuProducts')}}</p>
  </div>
  <div class="w-full flex gap-5 mt-5">
    <div class="bg-white h-fit w-[70%] p-4 rounded-md shadow-md">
      <div v-for="item in products" class="mb-7 flex gap-4">
        <div class="cursor-pointer">
          <img
            class="rounded-md object-fit-cover w-20"
            src="../../assets/images/T-Shirt (4).jpg"
            alt=""
          />
        </div>
        <div class="w-full flex flex-col gap-5">
          <div class="flex justify-between">
            <div class="">
              <p class="text-xl text-gray-700 font-bold">Fit T-Shirt</p>
              <p class="text-[12px] text-gray-700">
                $12.99 &nbsp;&nbsp;&nbsp;<span
                  class="text-green-500 "
                  >{{$t('inStock')}}</span
                >
              </p>
            </div>
            <span class=" font-bold text-slate-900">$64.95</span>
          </div>
          <div class="flex justify-between  text-[13px]">
            <span class="bg-white border rounded-md py-1 px-7 text-slate-900">XL</span>
            <span class="bg-white border rounded-md py-1 px-7 text-slate-900">Blue</span>
            
            <InputText id="on_label" v-model="value3" type="number"
            value="2" class="border outline-none rounded-md py-0 w-20 text-center h-7" />
            <div
              class="flex gap-1 items-center cursor-pointer py-1 px-2 border bg-blue-100 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-5 text-blue-500"
              >
                <path
                  d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
                />
              </svg>

              <span class=" text-slate-700">{{$t('save')}}</span>
            </div>
            <div
              class="flex items-center gap-1 justify-center cursor-pointer py-1 px-2 border bg-red-100 rounded-md"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-5 text-red-500"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class=" text-slate-700">{{$t('delete')}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white shadow-md h-fit w-[30%] rounded-md p-4">
      <span class="  text-slate-900">{{$t('delivery')}}</span>
      <div
        class="bg-gray-400 w-fit flex gap-2 p-1 px-1 rounded-md  mt-5"
      >
        <span class="text-center bg-white shadow-md py-1 px-2 rounded-md text-slate-900"
          >{{$t('free')}}</span
        >
        <span class="text-center py-1 px-2">Express: $9.99</span>
      </div>
      <div>
        <p class="text-gray-400  text-sm mt-1">
          {{$t('deliveryDate')}}: January,27,2024
        </p>
      </div>
      <hr class="mt-6" />
      <div class="mt-6 flex items-center">
        <InputText id="on_label" v-model="value3" type="number" :placeholder="$t('promocode')" class="border outline-none rounded-l-md py-1 px-4 w-60 text-[15px] d" />
        <button
          class="bg-gray-300 border border-gray-500 text-slate-900 py-2 px-2 rounded-r-md  text-[15px]"
        >
          {{$t('apply')}}
        </button>
      </div>
      <div>
        <p class="text-gray-400  text-sm mt-1">20% {{$t('offDiscount')}}</p>
      </div>
      <hr class="mt-6" />
      <div class="mt-6 mb-6  text-[15px] flex flex-col gap-2 text-slate-800">
        <div class="flex justify-between">
          <span>{{$t('subtotal')}}</span>
          <span>$00.00</span>
        </div>
        <div class="flex justify-between">
          <span>{{$t('discount')}}</span>
          <span class="flex"><p class="text-red-500">(20%)</p> - $16.19</span>
        </div>
        <div class="flex justify-between">
          <span>{{$t('delivery')}}</span>
          <span>$00.00</span>
        </div>
        <div class="flex justify-between">
          <span>{{$t('tax')}}</span>
          <span>+$14.00</span>
        </div>
        <hr class="mt-5" />
        <div class="flex justify-between mt-5">
          <span>{{$t('total')}}</span>
          <span class="text-blue-500 " >$78.76</span>
        </div>
      </div>
      <button
        @click="visible = true"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-md  text-sm w-full px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        {{$t('proceedToCheckout')}}
      </button>
    </div>
  </div>
</div>

<Dialog v-model:visible="visible" modal :header="$t('payment')" :style="{ width: '75rem' }">
  <div class="flex gap-3">
    <div class="w-[70%]">
      <Panel :header="$t('selectPaymentMethod')" toggleable>
        <div class="grid grid-cols-3 gap-3">
          <div class="cursor-pointer">
            <Card>
              <template #content>
                  <p class="m-0 flex items-center gap-3">
                    <i class="pi pi-credit-card" style="font-size: 2rem"></i>
                    <span>{{$t('creditCard')}}</span>
                  </p>
              </template>
            </Card>
          </div>
          <div class="cursor-pointer">
            <Card>
              <template #content>
                <p class="m-0 flex items-center gap-3">
                  <i class="pi pi-paypal" style="font-size: 2rem"></i>
                  <span>{{$t('payPal')}}</span>
                </p>
              </template>
            </Card>
          </div>
          <div class="cursor-pointer">
            <Card>
              <template #content>
                <p class="m-0 flex items-center gap-3">
                  <i class="pi pi-building-columns" style="font-size: 2rem"></i>
                  <span>{{$t('bankTransfer')}}</span>
                </p>
              </template>
            </Card>
          </div>
        </div>
        <div class="grid grid-cols-1 mt-6 mb-5">
          <span class="pt-4">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">{{$t('nameOnCard')}}<span class="text-red-600">*</span></label>
            </FloatLabel>
          </span>
        </div>
        <div class="grid grid-cols-1 mt-6 mb-5">
          <span class="pt-4">
            <IconField>
              <InputText v-model="value2" placeholder="0000 - 0000 - 0000" class="w-full bg-white"/>
              <InputIcon class="pi pi-credit-card"/>
            </IconField>
          </span>
        </div>
        <div class="grid grid-cols-1 mt-6">
          <span class="pt-4">
            <DatePicker 
            v-model="icondisplay" 
            showIcon 
            fluid 
            iconDisplay="input" 
            placeholder="00/00/0000" 
            dateFormat="dd/mm/yy"
            />
          </span>
        </div>
      </Panel>
    </div>
    <div class="w-[30%]">
      <Panel :header="$t('orderSummary')" toggleable>
        <p class="m-0">
            Coming Soon!
        </p>
      </Panel>
    </div>
  </div>
</Dialog>
