<div class="w-full">
  <div class="flex justify-between items-center">
    <span class="mb-4 text-slate-900 font-roboto text-2xl font-bold">{{$t('allProducts')}}</span>
    <span class="flex items-center">
      <FloatLabel variant="on">
        <InputText id="on_label" :placeholder="$t('search')" class="w-full bg-white" />
      </FloatLabel>
      <button class="bg-blue-500 no-underline p-[7.7px] h-full border rounded-r-sm text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-slate-50 font-bold">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>        
      </button>
    </span>
  </div>
  <!-- Cart for Product -->
  <div class="grid grid-cols-4 gap-5 w-full mt-5 mb-6">
    <div 
    v-for="item in list
    ">
    <router-link to="/product/detail/1">
      <div class="bg-gray-50 w-full p-1 relative shadow-sm rounded-sm">
        <div class="bg-yel-500 w-1/2 text-center absolute top-1 left-1 h-12 flex items-center justify-center">
          <p class="text-white text-lg font-semibold">{{$t('homePromotion')}}</p>
        </div>
        <div class="cursor-pointer" id="btn-detail">
          <img class="w-full rounded-sm" src="https://placehold.co/300x450" alt="Product Image">
        </div>
        <div class="w-full p-2">
          <div class="flex gap-3">
            <del class="text-red-500 text-lg">$40 (USA)</del>
            <p class="text-lg font-semibold text-gray-900">$30 (USA)</p>
          </div>
          <p class="text-xl  text-slate-900">T-Shirt</p>
          <span class="flex gap-2">
            <svg
            v-for="i in star"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yel-300">
              <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
            </svg>                       
          </span>
        </div>
      </div>
    </router-link>
    </div>    
  </div>
  <Paginator 
    :rows="numRecord"
    :totalRecords="objs.total"
    :rowsPerPageOptions="pageOptions"
    :first="pFirst"
    :alwaysShow="false"
    @page="pageEvent"
  />
</div>