<div
  class="w-full bg-slate-100 h-[90px] shadow-md flex justify-center sticky top-0 z-50"
>
  <div class="flex w-[80%] h-full justify-between items-center">
    <div class="cursor-pointer">
      <img width="200" src="https://placehold.co/200x70" alt="" />
    </div>
    <div>
      <ul class="flex gap-7 text-xl">
        <li
          class="cursor-pointer font-bold text-slate-900 hover:text-yellow-500"
        >
          <router-link to="/">{{$t('menuHome')}}</router-link>
        </li>
        <li
          class="cursor-pointer font-bold text-slate-900 hover:text-yellow-500"
        >
          <router-link to="/shop">{{$t('menuShop')}}</router-link>
        </li>
        <li
          class="cursor-pointer font-bold text-slate-900 hover:text-yellow-500"
        >
          <router-link to="/products">{{$t('menuProducts')}}</router-link>
        </li>
        <li
          class="cursor-pointer font-bold text-slate-900 hover:text-yellow-500"
        >
          <router-link to="/contact">{{$t('menuContact')}}</router-link>
        </li>
      </ul>
    </div>
    <div class="flex justify-between items-center gap-3">
      <div>
        <img
          @click="isLanguage = !isLanguage"
          v-if="!isLanguage"
          class="cursor-pointer border rounded-full"
          width="25"
          src="../../assets/icons/united-kingdom.png"
          alt=""
        />
        <img
          @click="isLanguage = !isLanguage"
          v-else
          class="cursor-pointer border rounded-full"
          width="25"
          src="../../assets/icons/cambodia.png"
          alt=""
        />
      </div>
      <div class="relative">
        <router-link to="/view-cart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-7 cursor-pointer text-slate-900"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
            />
          </svg>
          <span
            class="cursor-pointer absolute -top-1 -right-2 bg-red-500 rounded-full w-5 h-5 flex justify-center items-center text-white"
            >1</span
          >
        </router-link>
      </div>
      <div class="relative group">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 cursor-pointer text-slate-900"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
        </svg>
        <div
          class="text-slate-900 absolute right-0 top-[2rem] opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
        >
          <ul
            class="flex flex-col gap-3 bg-slate-100 shadow rounded w-[10rem] px-5 py-3 mt-8 z-40"
          >
            <li class="cursor-pointer hover:text-yellow-500">
              <router-link to="/login">Login</router-link>
            </li>
            <li class="cursor-pointer hover:text-yellow-500">
              <router-link to="/signup">Create Account</router-link>
            </li>
            <li class="cursor-pointer hover:text-yellow-500">
              <router-link to="/profile">Profile</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
