<div
  class="w-full bg-slate-100 h-[90px] shadow-lg flex justify-center sticky z-50"
>
  <div class="flex w-[80%] h-full justify-between items-center">
    <div class="cursor-pointer">
      <img width="200" src="https://placehold.co/200x70" alt="" />
    </div>
    <div>
      <ul class="flex gap-7 text-xl">
        <li
          v-for="(item, index) in menu"
          :key="index"
          class="cursor-pointer font-bold font-roboto hover:text-yellow-500"
        >
          <router-link :to="item.route">{{item.title}}</router-link>
        </li>
      </ul>
    </div>
    <div class="flex justify-between items-center gap-3">
      <div class="relative">
        <input
          class="border border-slate-600 text-[15px] w-60 outline-none py-1 px-4 rounded-full"
          type="text"
          placeholder="Enter To Search"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="size-8 absolute top-0 -right-0 cursor-pointer"
        >
          <path
            d="M5.94 8.06a1.5 1.5 0 1 1 2.12-2.12 1.5 1.5 0 0 1-2.12 2.12Z"
          />
          <path
            fill-rule="evenodd"
            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14ZM4.879 4.879a3 3 0 0 0 3.645 4.706L9.72 10.78a.75.75 0 0 0 1.061-1.06L9.585 8.524A3.001 3.001 0 0 0 4.879 4.88Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="relative">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-7 cursor-pointer"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
          />
        </svg>
        <span
          class="cursor-pointer absolute -top-1 -right-2 bg-red-500 rounded-full w-5 h-5 flex justify-center items-center text-white"
          >1</span
        >
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 cursor-pointer"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
