<div>
  <div class="flex items-center gap-2">
    <router-link to="/" class="flex gap-2 items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-slate-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </div>
      <p class="text-[1.2rem] font-roboto font-medium text-slate-500">Home /</p>
    </router-link>
    <p class="text-[1.2rem] font-roboto font-medium text-slate-900">Contact Us</p>
  </div>
  <div class="w-full flex gap-20 mt-8">
    <div class="w-[30%]">
      <p class="font-medium text-xl font-roboto text-slate-900">FOLLOW US</p>
      <ul class="mt-6 flex flex-col gap-6">
        <li v-for="(items, index) in followUs">
          <router-link
            class="flex items-center gap-4 bg-slate-200 text-slate-900 hover:bg-slate-100 p-2 rounded-sm"
            to="#"
          >
            <img
              class="w-8 h-8"
              src="../../assets/images/Facebook_logo_(square).png"
              alt=""
            />
            <span class="font-roboto">Facebook</span>
          </router-link>
        </li>
      </ul>
    </div>
    <div class="w-[70%]">
      <p class="font-medium text-xl text-slate-900 font-roboto">FEEDBACK</p>
      <form>
        <div class="grid grid-cols-2 mb-5">
          <span class="pt-4 pr-3">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">First Name<span class="text-red-600">*</span></label>
          </FloatLabel>
          </span>
          <span class="pt-4 pr-3">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">Last Name<span class="text-red-600">*</span></label>
          </FloatLabel>
          </span>
        </div>
        <div class="grid grid-cols-1 mb-5">
          <span class="pt-4 pr-3">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">Email<span class="text-red-600">*</span></label>
          </FloatLabel>
          </span>
        </div>
        <div class="grid grid-cols-1 mb-5">
          <span class="pt-4 pr-3">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">Phone Number<span class="text-red-600">*</span></label>
          </FloatLabel>
          </span>
        </div>
        <div class="grid grid-cols-1 mb-5">
          <span class="pt-4 pr-3">
            <FloatLabel variant="on">
              <InputText id="on_label" v-model="value3" class="w-full bg-white" />
              <label for="on_label">Address</label>
          </FloatLabel>
          </span>
        </div>
        <div class="grid grid-cols-1">
          <span class="pt-4 pr-3">
            <label for="code" class="mb-2 font-medium font-roboto text-gray-700"
              >Reason<span class="text-red-600">*</span></label
            >
            <Editor :api-key="apiKey" :init="initOptions" />
            <!-- <div v-if="isSubmited && !body.gender" class="row text-red-800">
              Code is required.
            </div> -->
          </span>
        </div>
        <!-- Button Submit -->
        <div class="flex float-end gap-1 font-SegoeUI font-semibold">
          <span class="pt-4 pr-3">
            <router-link to="/">
              <button
                class="w-full rounded-md py-2 px-3 text-center bg-gray-300 hover:bg-red-400 hover:text-white"
              >
                Cancel
              </button>
            </router-link>
          </span>

          <span class="pt-4 pr-3">
            <button
              class="w-full flex gap-1 items-center text-white bg-blue-700 hover:bg-yel-500 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-3 text-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                />
              </svg>

              <span>Send</span>
            </button>
            <!-- <button
            v-else
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 text-center"
          >
            Loading...
          </button> -->
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
