<div class="w-full">
  <div class="flex items-center gap-2">
    <router-link to="/" class="flex gap-2 items-center">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 text-slate-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
          />
        </svg>
      </div>
      <p class="text-[1.2rem]   text-slate-500">{{$t('menuHome')}} / </p>
    </router-link>
    <p class="text-[1.2rem]   text-slate-900">{{$t('signInAccount')}}</p>
  </div>
  <div class="mt-9">
    <span v-if="!isNext" class="text-xl  border-b-2  text-slate-900">{{$t('persional')}}</span>
    <form v-if="!isNext"  class="mb-8 mt-6">
      <div class="grid grid-cols-2">
        <span class="pt-4 pr-3">
          <FloatLabel variant="on">
            <InputText id="on_label" v-model="value3" class="w-full bg-white" />
            <label for="on_label">{{$t('email')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
        </span>
      </div>
      <div class="grid grid-cols-2 mt-5">
        <span class="pt-4 pr-3 relative">
          <FloatLabel variant="on">
            <InputText 
            id="on_label" 
            v-model="value3" 
            :type="isPassword ? 'password' : 'text'"
            class="w-full bg-white" />
            <label for="on_label">{{$t('password')}}<span class="text-red-600">*</span></label>
        </FloatLabel>
          <!-- <div v-if="isSubmited && !body.gender" class="row text-red-800">
            Code is required.
          </div> -->

          <div class="absolute top-[1.5rem] right-6">
            <svg
              v-if="isPassword"
              @click="isPassword = !isPassword"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 cursor-pointer text-slate-900"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
            <svg
              v-else
              @click="isPassword = !isPassword"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 cursor-pointer text-slate-900"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
          </div>
        </span>
      </div>
      <div class="grid grid-cols-2"></div>

      <!-- Button Submit -->
      <div
        class="flex w-[50%] gap-1 font-SegoeUI font-semibold mt-2 justify-end"
      >
        <span class="pt-4 pr-3">
          <router-link to="/">
            <button
              class="w-full rounded-md py-2 px-3 text-center bg-gray-300 hover:bg-red-400 hover:text-white"
            >
              {{$t('cancel')}}
            </button>
          </router-link>
        </span>

        <span class="pt-4 pr-3">
          <button
            @click="isNext = true"
            class="w-full text-white bg-blue-700 hover:bg-yel-500 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 px-3 text-center"
          >
            {{$t('login')}}
          </button>
          <!-- <button
            v-else
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md py-2 text-center"
          >
            Loading...
          </button> -->
        </span>
      </div>
    </form>

    <!-- OTP -->

    <form class="mb-8 flex justify-center" v-if="isNext">
      <div class="flex flex-col items-center shadow-2xl rounded-md p-8 w-[20rem] mt-16 mb-16">
        <img class="w-24" src="../../assets/icons/password.png" alt="">
        <span class="text-lg    text-slate-900 mb-8 mt-3">{{$t('enterOtpCode')}}</span>
        <InputOtp 
        :length="5" 
        v-model="value"/>
        <p class="mt-2 text-sm text-red-400">{{$t('expriedCode')}}: 00:59</p>
        <p class="text-slate-400 mt-4">{{$t('receiveCode')}}? <button class="text-blue-500">{{$t('resend')}}</button></p>
      </div>
    </form>
  </div>
</div>
